@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");

* {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

h1 {
    color: #4e5150;
}

/* Items container and contents */

.items-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 11px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    background: #f2f2f2;
    border-radius: 12px;
    width: 350px;
    height: 489px;
}

.bag-container,
.shoe-container {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 12px;
    width: 160px;
    height: 140px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.bag-description,
.shoe-description {
    margin-left: 10px;
}

.old-pricing {
    font-size: 10px;
    color: #4e5150;
    font-weight: bold;
    text-decoration-line: line-through;
}

.pricing {
    color: #f2994a;
    font-weight: 600;
    font-size: 14px;
}

.shipping-container {
    margin-top: 30px;
    width: 300px;
}

.shipping-container p {
    margin-left: 20px;
    display: inline;
    margin-right: 120px;
}

.shipping-container span {
    margin-left: 60px;
}

hr {
    border: 1px solid #bdbdbd;
    text-align: center;
    width: 260px;
}

/* Form */

.form-labels {
    color: #4f4f4f;
    font-size: 10px;
    margin: 10px 0;
}

i {
    padding: 7px;
}

.placeholders {
    border: #828282 solid 1px;
    color: #828282;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    width: 340px;
}

.country {
    display: flex;
    justify-content: flex-start;
}

.placeholders.country {
    width: 150px;
    margin-right: 30px;
    display: inline;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    width: 260px;
}

/* Bottom after Forms */

.save {
    font-size: 10px;
    color: #4f4f4f;
}

.save span {
    color: red;
    padding: 0 5px;
    border: #828282 2px solid;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    line-height: 30px;
}

button {
    background: #f2994a;
    color: #fff;
    padding: 20px 40px;
    border-radius: 12px;
    border: none;
    margin-left: 200px;
}

/* @media screen (min-width: 1200px) {
} */
